html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: Comfortaa sans-serif;
    background: url("../static/tile_double.png");
}

a {
    text-decoration: none;
    color: white;
}

/*nav{*/
	/*list-style:none;*/
	/*display:inline-block;*/
	/*margin:0 auto;*/
	/*padding:0;*/
    /*background-color: white;*/
    /*width: 90%;*/
    /*position: fixed;*/
    /*text-align:center;*/
/*}*/
nav{

}


.topbackground{
	vertical-align: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url(../static/background.jpeg);
	background-attachment: scroll;
	background-size: 100%;
    width:100%;
    height:40%;
}

@font-face
{
    font-family: Comfortaa;
    src: url("../fonts/comfortaa-regular.ttf");
    font-style: normal;
}
@font-face
{
font-family: Comfortaa;
src: url("../fonts/comfortaa-bold.ttf");
font-weight: bold;
}
@font-face
{
font-family: Comfortaa;
src: url("../fonts/comfortaa-light.ttf");
font-weight: 100;
}


/*navigation*/


.menu {
    font-family: Comfortaa;
    font-size: 40px;
    font-weight: bold;
    width: 20%;
    min-height: 80px;
    border-style: solid;
    border-color: white;
    border-width: 20px 10px;
    text-decoration: none;
    color: white;
}

.homeButton{
    background-color: #FCD500;
    border-left-width: 20px;
}
.despreButton{
    background-color: #D998B5;
}
.afterSchoolButton{
    background-color: #019FC4;
}
.inscrieriButton{
    background-color: #6C6891;
}
.contactButton{
    background-color: #01AB45;
    border-right-width: 20px;
}

.kdproj{
    width: 90%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.div_despre{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin: 30px;
    padding: 20px;
    background-color: white;
    background-image: url(../static/baloons_girl-transparent20.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-origin: content-box;
    width: 90%;
    font-family: Comfortaa;
    font-size: 20px;
    display: block;

}

img.plank{
    width: 50%;
    margin: auto;
    padding: 20px;
}
div.plank{
    width: 50%;
    /* margin: auto; */
    /* padding: 100px; */
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

div.div_afterschool{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin: 30px;
    padding: 20px;
    background-color: white;
    /*background-image: url(../static/baloons_girl-transparent20.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 40%;*/
    /*background-origin: content-box;*/
    width: 90%;
    font-family: Comfortaa;
    font-size: 20px;
    display: block;

}

table {
    border-color: white;
    border-spacing: 0;
    margin: auto;
    /*margin-right: 0;*/
width: 90%;
    padding-top: 13%;
    font-size: 15px;
}

th {
    font-family: Comfortaa;
    font-weight: 900;
    /*border:2px solid ghostwhite;*/
    padding: 10px;
    color: ghostwhite;
    text-decoration: none;
}

td {
    font-family: Comfortaa;
    /*border:2px solid ghostwhite;*/
    padding: 10px;
    color: ghostwhite;
    text-decoration: none;
    font-weight: normal;
    min-width: 6em;
}


div.div_inscrieri{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin: 30px;
    padding: 20px;
    background-color: white;
    background-size: 40%;
    background-origin: content-box;
    width: 90%;
    font-family: Comfortaa;
    font-size: 20px;
    display: block;

}

img.backpack{
    width: 85%;
    margin: auto;
    padding: 20px;
}

div.backpack {
    width: 50%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.descarcabutton{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 36px;
    background-color: #EB6EA1;
    border: none;
    color: ghostwhite;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 5px 5px #C6C6C6;
    margin-bottom: 10px;
}

div.div_contact{
    margin: 30px;
    padding: 20px;
    background-color: white;
    background-size: 40%;
    width: 90%;
    font-family: Comfortaa;
    font-size: 20px;
    display: table;
    position: relative;
    text-align: center;


}

div.top {
    background-color: #E1FBFF;
    padding: 10px;
    border-radius: 100px;
    display: table;
    margin: auto;
}

div.topicons{
    text-align: center;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 25%;
    padding: 0 4%;
}

img.topicons {
    width: 40%;
    padding: 0 10%;
}

p.topicons {
    color: #95989A;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

div.forms{
    text-align: center;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 50%;
    /*padding: 0 4%;*/
}

form.forms {
    padding: 20px;

}

input.forms {
    font-family: Comfortaa;
    font-size: 20px;
    padding: 25px;
    text-align: left;
    padding-right: 50%;
    margin: 10px;
    border-radius: 25px;
    border: 3px solid #01AB45;
    outline: none;
}

#mesaj {
    padding-right: 76%;
    padding-bottom: 200px;
    border-color: #6C6891;
}